@{
    ViewBag.Title = "Quero Conhecer";
    Layout = "~/Views/Shared/_LayoutSemCabecalho.cshtml";
}
<style>
    body {
        background: #dce2e5;
    }
</style>
<section style="padding-top: 120px;">
    <div style="text-align: center;height: 100px; padding-top: 100px;">
        <a href="/Home"><img src="../../Images/kalub-logo-home.png" alt="Logo KALUB" style="max-width: 170px" class="CToWUd"></a>
        <p class="animated  animation-delay-17" style="font-size: 25px; color: #2c4970; font-weight: bold">
            Escolha uma das opções abaixo
        </p>
    </div>
</section>
<section style="padding-top: 100px;height:100%">
    <div style="text-align: center; background-color: #2c4970; height: 438px; padding-top: 30px;">
        <p class="animated  animation-delay-17" style="font-size: 20px; color: white;">
            <a href="/Login/Registrar?TipoCadastro=E" class="button button-rounded button-normal button-large"><span style="font-size: 16.8px; font-weight: bold;color: #2c4970">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PARA EMPRESAS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
            <a href="/Login/Registrar?TipoCadastro=P" class="button button-rounded button-normal button-large"><span style="font-size: 16.8px; font-weight: bold;color: #2c4970"> PARA PROFESSORES/ESTUDANTES </span></a>
        </p>
    </div>
</section>






