@{
    ViewBag.Title = "Criando Conta";
}

<div id="abrirModalCriandoConta" class="" data-backdrop="static" style="padding-top: 150px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" align=center>
                <img src="../../Images/loading_2x.gif" width="300">
            </div>
        </div>
    </div>
</div>
