@{
    ViewBag.Title = "Sobre o Kalub";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<section class="carousel-section">
    <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="20000">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="carousel-caption">
                                <div class="carousel-text" style="padding-left: 30px; padding-bottom: 50px;">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><span style="font-weight: bold">A MAIOR INOVAÇÃO DE TODOS OS TEMPOS</span></h1>
                                    <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle"><span style="font-weight: bold">Aplicativo empresarial online organizador da informação financeira da pequena empresa</span></h2>
                                    <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Tenha o <span style="font-weight: bold">DNA</span> dos resultados financeiros da sua empresa, demonstrado em relatórios de forma clara e objetiva, diariamente, mensalmente e acumulado no ano.</h2>
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check" aria-hidden="true"></i>Demonstração do lucro líquido (DRE), com todas as contas de receitas e despesas</li>
                                        <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check" aria-hidden="true"></i>Demonstração dos Fluxos de Caixa (DFC): operacional, de investimentos e de financiamentos</li>
                                        <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check" aria-hidden="true"></i>Balanço Patrimonial (todas as contas de bens, direitos e obrigações)</li>
                                        <li class="animated bounceInLeft animation-delay-17"><i class="fa fa-check" aria-hidden="true"></i>Diagnóstico de resultados (ajuda a interpretar)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="carousel-caption">
                                <div class="carousel-text" style="padding-left: 30px;padding-bottom: 134px">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title"><span style="font-weight: bold">Exclusivo para micros e pequenas empresas</span></h1><br />
                                    <ul class="list-unstyled carousel-list">
                                        <li class="animated bounceInLeft animation-delay-11"><i class="fa fa-check" aria-hidden="true"></i>Comércio, serviços e indústria</li>
                                        <li class="animated bounceInLeft animation-delay-13"><i class="fa fa-check" aria-hidden="true"></i>Simples Nacional</li>
                                        <li class="animated bounceInLeft animation-delay-15"><i class="fa fa-check" aria-hidden="true"></i>Micro empreendedor Individual (MEI)</li>
                                        <li class="animated bounceInLeft animation-delay-17"><i class="fa fa-check" aria-hidden="true"></i>Lucro Real ou Presumido (para postos de combustíveis)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>
<section class="wrap-primary-color3 margin-bottom animation-delay-10">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="text-center" style="height: 200px; padding-top: 70px;width: 100%">
                    @*<h3 class="text-center">
                            O KALUB é diferente: funciona muito bem e é fácil de entender.<br />
                            Com o KALUB sua empresa é mais produtiva e isso ajuda a gerenciar melhor as finanças.
                        </h3>
                        <p style="font-size: 20px">Preparado para melhorar a Gestão da sua empresa?</p>*@
                    <table class="text-center" style="width: 100%;">
                        <tr>
                            <td>
                                <a href="/QueroConhecer" class="button button-rounded button-caution button-normal"><span style="font-size: 17.8px;font-weight: bold"> QUERO CONHECER </span><i class="fa fa-arrow-right"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="margin-bottom margin-top" style="padding-left: 60px; padding-right: 60px;">

    <div class="tab-content margin-top">
        <div class="tab-pane active" id="mac">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <ul class="list-unstyled hand-list">
                        <li class="wow fadeInLeft animation-delay-2">
                            <h4 class="lead lead-lg"><strong>Muito simples e fácil de usar</strong></h4>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Não precisa de nenhum conhecimento avançado em finanças ou contabilidade
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Muito fácil de realizar lançamentos (poucos minutos por dia)
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Única tela de lançamentos para o usuário
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Totalmente intuitivo e autoexplicativo
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Help em cada campo de lançamento com instruções e orientações
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Fechamento de caixa disponível diário e acumulado
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Impressão do formulário de fechamento caixa diário (ajuda a reduzir fraudes)
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Extrato da movimentação de todas as contas de bens, direitos e obrigações da empresa
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Extrato da movimentação de todas as contas de vendas, custos e despesas
                            </p>
                            <p>
                                <i class="fa fa-check" aria-hidden="true" style="color: darkcyan"></i> Uma visão diária e organizada das depesas
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img class="img-responsive wow zoomInDown animation-delay-3" src="../../Images/pc-kalub.jpg">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrap-primary-color2">
    <div class="container" style="text-align: center">

        <div class="tab-content margin-top">
            <div class="">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <h2>Quem usa ama o <strong>KALUB</strong>! E você, está esperando o quê?!</h2><br />
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/aL1QYGvnU3M" frameborder="0" allowfullscreen></iframe>
                        <br /><Br />
                        <a href="/QueroConhecer" class="button button-rounded button-caution button-normal"><span style="font-size: 17.8px; font-weight: bold"> QUERO CONHECER </span><i class="fa fa-arrow-right"></i></a>
                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<br /><Br />

<section class="margin-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default wow fadeIn animation-delay-10">
                    <img src="../../Images/16.png" />
                    <h4 class="content-box-title">Melhore sua qualidade de vida</h4>
                    <p>
                        Sabe aquela angústia que costuma aparecer no final do domingo? normalmente causada por não saber como pagar as contas na segunda-feira?
                        E o que é pior: não saber o que está acontecendo. Isso tudo é por falta de informações técnicas de alta qualidade. Com o Kalub isso vai acabar.
                    </p>
                    <br />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default wow fadeIn animation-delay-14">
                    <img src="../../Images/20.png" />
                    <h4 class="content-box-title">Relatórios on-line</h4>
                    <p>Tome decisões inteligentes baseadas em informações organizadas com alta tecnologia e teorias avançadas.</p>
                    <p></p><br /><br /><br />
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="content-box box-default wow fadeIn animation-delay-16">
                    <img src="../../Images/78.png" />
                    <h4 class="content-box-title">Saiba tudo sobre o impacto de suas decisões</h4>
                    <p>
                        A situação financeira da sua empresa nada mais é do que consequências de suas decisões e boas decisões,
                        precisam de informações técnicas e profissionais.
                    </p>
                    <br />
                </div>
            </div>

        </div>
    </div>
</section>


<section class="section-lines">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 padding-40">
                <p class="slogan text-center no-margin" style="font-size: 22px;">
                    Empresário, você tem investido muito dinheiro em tecnologias para atender apenas aos interesses do
                    fisco (ECF, TEF, PDV, E-SOCIAL, SPED, NFe...). Comece agora a investir em você. Conheça o <strong>KALUB</strong>,
                    uma tecnologia que chegou para ficar ao seu lado, fornecendo informações precisas para ajudá-lo a
                    tomar as melhores decisões. É como se a sua empresa tivesse um Consultor Financeiro de alto nível
                    à sua disposição o tempo todo.
                </p>
            </div>
        </div>
    </div>
</section>




<section class="wrap-primary-color4 margin-bottom">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="text-center" style="height: 200px; padding-top: 40px;">
                    <h2 class="text-center">
                        Empresas em todo o Brasil utilizam o KALUB.
                    </h2>
                    Uma ferramenta online simples e intuitiva,
                    que vai ajudar você a organizar a vida financeira de sua empresa.
                </div>
            </div>

        </div>
    </div>
</section>

<section class="margin-bottom">
    <div class="container" id="seguranca">
        <div class="row">
            <div class="text-center">
                <h2 class="text-center">
                    Segurança dos seus dados
                </h2>
                <br><br>
                <div class="col-md-4 col-xs-12">
                    <i style="color: steelblue" class="fa fa-cloud fa-5x" aria-hidden="true"></i>
                    <h3>Mais segurança na nuvem</h3>
                    <p>
                        O <strong>KALUB</strong> utiliza servidores e bancos de dados na nuvem do Azure, serviço fornecido pela Microsoft Corporation. Todos os dados estão seguros e garantidos pela maior empresa de computação do mundo. Além disso, grande parte dos dados são armazenados de forma criptografada, garantindo assim uma maior privacidade.
                    </p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <i style="color: steelblue" class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
                    <h3>Seguro nas Informações</h3>
                    <p>
                        Somente o dono da conta <strong>KALUB</strong> com email e senha poderá acessar os dados.
                    </p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <i style="color: steelblue" class="fa fa-lock fa-5x" aria-hidden="true"></i>
                    <h3>Certificados de segurança</h3>
                    <p>
                        Utilizamos as melhores empresas de criptografia para manter seus dados sempre seguros enquanto estiverem sendo transmitidos pela internet. Todo o tráfego de dados do seu <strong>KALUB</strong> é feito através de um canal seguro onde todos os dados são criptografados antes de serem enviados.
                    </p>
                </div>

            </div>
        </div>
    </div>

</section>
