<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table width="700">
        <tr>
            <td>
                <div marginwidth="0" marginheight="0" bgcolor="#e5e5e5">
                    <div class="adM">
                    </div><table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#e5e5e5">
                        <tbody>
                            <tr>
                                <td align="center"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <table width="90%" cellpadding="0" cellspacing="0" border="0" style="max-width: 620px; border-radius: 3px" bgcolor="#FFFFFF">
                                        <tbody>
                                            <tr bgcolor="#e5e5e5">
                                                <td align="center" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr style="padding: 10px 10px 10px 10px">
                                                                <td valign="top" style="padding: 30px 0px 20px 0px">
                                                                    <img src="http://www.kalub.com.br/Images/kalub-logo-home.png" alt="Logo KALUB" style="max-width: 120px" class="CToWUd">
                                                                </td>
                                                                <td valign="top" style="padding: 30px 0px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; color: #2c4970; font-size: 14px; line-height: 22px; font-weight: 700; text-align: right">
                                                                    
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <table width="90%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td height="0" style="text-align:center;"><img src="http://www.kalub.com.br/Images/ico-periodo-experiencia.png" width=300 alt="KALUB"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <p style="margin-bottom: 1em; margin: 30px; text-align: center; font-size: 20px; font-weight: normal; color: #2c4970 !important; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">Ola, <b>##Empresa##</b>
																	</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <p style="margin-bottom: 1em; width: 80%; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucidaf Grande', sans-serif; margin: 0; color: #395a7b; text-align: left">
                                                                        Você deu o <b>primeiro passo</b> para facilitar a gestão da sua empresa quando decidiu experimentar o KALUB. <br /><Br />
                                                                    </p>
																	<br>
                                                                    <p style="margin-bottom: 1em; width: 80%; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucidaf Grande', sans-serif; margin: 0; color: #395a7b; text-align: left">
                                                                        Agora que os seus dias de experiência chegaram  ao fim, é hora de dar o próximo passo para ser <b>cada vez mais produtivo</b> e ter mais sucesso.
                                                                    </p>
																	
																	<a href="http://www.kalub.com.br/login/login" target="_blank">
																		<img style="margin: 35px 0 10px 0" src="http://www.kalub.com.br/Images/bt-assinar.png"  alt="KALUB">
																	</a>																	
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table><table></table>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <a href="http://www.kalub.com.br" target="_blank">
                                                        <img style="margin: 35px 0 10px 0" src="http://www.kalub.com.br/Images/kalub-logo-home.png" width="200" alt="KALUB" class="CToWUd">
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="margin-bottom: 1em; width: 35%; font-size: 16px; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin: 0; color: #385a7b">Para pequenas empresas que pensam grande.</p>
                                                </td>
                                            </tr>
                                            <tr height="40">
                                                <td>
                                                    <br>
                                                </td>
                                            </tr>



                                        </tbody>
                                    </table>
                                </td>
                            </tr>
							<tr>
								<td>
								<p style="text-align:center; margin-bottom: 1em; font-size: 12px; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin: 0; color: #385a7b">
								Por favor, não responda a este e-mail.<br>
								Temos um canal dedicado para você enviar as suas dúvidas e sugestões, clique em <a href="http://www.kalub.com.br/Contato">Contato</a>.
								</p>
								</td>
							</tr>							
                            <tr>
                                <td>
                                    <table height="80" align="center" width="90%" cellpadding="0" cellspacing="0" border="0" style="max-width: 400px">
                                        <tbody>
                                            <tr>
                                                
                                                <td align=center>
                                                    <a href="https://www.facebook.com/kalub.br" target="_blank">
                                                        <img width="32" src="http://www.kalub.com.br/Images/fb-email-ca.png" alt="KALUB - Facebook" class="CToWUd">
                                                    </a>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </td>
        </tr>
    </table>
</body>
</html>
