<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="../../Images/favicon.ico">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css")
</head>

<body>

    @RenderBody()


</body>

</html>