@{
    ViewBag.Title = "KALUB - Status de Pagamento";
    Layout = "~/Views/Shared/_LayoutRestritoUser.cshtml";
}


<div id="content">
    <div class="tabs-wrapper text-center">
        <div class="panel box-shadow-none text-left content-header">
            <div class="panel-body">
                <div class="col-sm-3" style="padding-top: 55px;">
                    <p class="animated fadeInLeft">
                        <a href="/Principal" style="font-size: 1.0em!important; color: #fff;">Home</a> <span class="fa-angle-right fa"></span> Confirmação de Pagamento
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col-md-12 top-20 padding-0">
    <div class="">
        <div class="panel">
            <div class="panel-body" width="100%" style="padding-top: 2px; padding-bottom: 10px;">
                <center>
                    <table width="90%" cellpadding="0" cellspacing="0" border="0" style="max-width: 620px; border-radius: 3px" bgcolor="#FFFFFF">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table width="90%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p style="margin-bottom: 1em; margin: 30px; text-align: center; font-size: 22px; font-weight: normal; color: #2c4970 !important; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
                                                        Obrigado por assinar o <b>KALUB</b>!<br><br>
                                                        Favor aguadar a liberação do sistema.<br/><br/>
                                                        Status: <b>Aguardando Pagto</b>
                                                    </p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="center">
                                                    <p style="margin-bottom: 1em; width: 80%; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucidaf Grande', sans-serif; margin: 0; color: #395a7b; text-align: left">
                                                        Ficamos felizes em receber sua assinatura do <b>KALUB</b>, a partir de agora você tera acesso a todas as funcionalidades do sistema. <br /><Br />
                                                        Nossa equipe está pronta para lhe atender, sempre que houver alguma dúvida.
                                                    </p>
                                                    
                                                    <p style="margin-bottom: 1em; width: 80%; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucidaf Grande', sans-serif; margin: 0; color: #395a7b; text-align: left">
                                                        <b>Importante:</b> Se você pagou via cartão de crédito, este pagamento será registrado na fatura como <b>KALUB</b>.
                                                    </p>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table><table></table>
                                </td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td align="center">
                                    <a href="../.." target="_blank">
                                        <img style="margin: 35px 0 10px 0" src="../../Images/kalub-logo-home.png" width="200" alt="KALUB" class="CToWUd">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <p style="margin-bottom: 1em; width: 35%; font-size: 16px; line-height: 24px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; margin: 0; color: #385a7b">Para pequenas empresas que pensam grande.</p>
                                </td>
                            </tr>
                            <tr height="40">
                                <td>
                                    <br>
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </center>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        $(document).ready(function () {


        });

    </script>

}