@{
    ViewBag.Title = "KALUB - Manual de Instruções";
    Layout = "~/Views/Shared/_LayoutRestritoUser.cshtml";


}

<style type="text/css">
    /*  bhoechie tab */
    div.bhoechie-tab-container {
        z-index: 10;
        background-color: transparent;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        border: 1px solid #ddd;
        margin-top: 20px;
        margin-left: 50px;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }

    div.bhoechie-tab-menu {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }

        div.bhoechie-tab-menu div.list-group {
            margin-bottom: 0;
        }

            div.bhoechie-tab-menu div.list-group > a {
                margin-bottom: 0;
            }

                div.bhoechie-tab-menu div.list-group > a .glyphicon,
                div.bhoechie-tab-menu div.list-group > a .fa {
                    color: #4682B4;
                }

                div.bhoechie-tab-menu div.list-group > a:first-child {
                    border-top-right-radius: 0;
                    -moz-border-top-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a:last-child {
                    border-bottom-right-radius: 0;
                    -moz-border-bottom-right-radius: 0;
                }

                div.bhoechie-tab-menu div.list-group > a.active,
                div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
                div.bhoechie-tab-menu div.list-group > a.active .fa {
                    background-color: #4682B4;
                    background-image: #5A55A3;
                    color: #ffffff;
                }

                    div.bhoechie-tab-menu div.list-group > a.active:after {
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        margin-top: -13px;
                        border-left: 0;
                        border-bottom: 13px solid transparent;
                        border-top: 13px solid transparent;
                        border-left: 10px solid #4682B4;
                    }

    div.bhoechie-tab-content {
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        padding-left: 20px;
        padding-top: 10px;
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
        display: none;
    }
</style>



<div id="content">
    <div class="tabs-wrapper text-center">
        <div class="panel box-shadow-none text-left content-header">
            <div class="panel-body">
                <div class="col-sm-4" style="padding-top: 55px;">
                    <p class="animated fadeInLeft">
                        <a href="/PrincipalUser" style="font-size: 1.0em !important; color: #fff;">Home</a> <span class="fa-angle-right fa"></span> Saldos Iniciais
                    </p>

                </div>
                <div style="text-align: right; padding-top: 38px; padding-left: 86%;">
                    <table width="190" height="40" border="1px" bordercolor="#fff">
                        <tr>
                            <td style="text-align: right; ">
                                <span style="padding-right: 20px;">Dinheiro em Caixa</span>
                                <p style="padding-top: 10px;"><span style="padding-right: 20px; font-weight: bold;font-size: 20px;">R$ @string.Format("{0:#,##0}", ViewBag.TotalSaldoinicialDiaAnteiorContaCaixa)</span></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container" style="background-color: #fff;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                <div class="list-group">
                    <a href="#" class="list-group-item active text-center">
                        Manual de Instruções
                    </a>

                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active" style="padding-right: 30px; padding-left: 20px; padding-bottom: 50px;">

                    <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:
normal'>
                        <span style='mso-bookmark:OLE_LINK1'>
                            <span style='mso-bookmark:OLE_LINK2'>
                                <span style='font-size:12.0pt;mso-bidi-font-size:11.0pt;font-family:"Arial","sans-serif"'><o:p>&nbsp;</o:p></span>
                            </span>
                        </span>
                    </p>

                    <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt;text-align:
justify;line-height:normal'>
                        <span style='mso-bookmark:OLE_LINK1'>
                            <span style='mso-bookmark:OLE_LINK2'>
                                <span style='font-size:12.0pt;mso-bidi-font-size:
11.0pt;font-family:"Arial","sans-serif"'>
@Html.Raw(ViewBag.manual.Texto)<o:p></o:p>
                                </span>
                            </span>
                        </span>
                    </p>


                </div>


            </div>
        </div>
    </div>
</div>



@section Scripts{

    <script>

        $(document).ready(function () {

            $("div.bhoechie-tab-menu>div.list-group>a").click(function (e) {
                e.preventDefault();
                $(this).siblings('a.active').removeClass("active");
                $(this).addClass("active");
                var index = $(this).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            });

        });

    </script>

}