@{
    ViewBag.Title = "Preços";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}




<section class="wrap-primary-color margin-bottom">
    <div class="container">
        <div class="row">
            <div class="text-center" style="width: 100%">
                <div class="text-center" style="width: 100%">
                    <h1 class="text-center"><b>Faça como milhares de pessoas, comece Agora !</b>
                    </h1>
                    <p style="font-size: 25px">Conheça o KALUB, a maior inovação de todos os tempos!</p>
                    <br/>

                                    @*<span style="padding-left: 30px;">De R$ <span style="font-weight: bold; font-size: 40.0px;"><s>79,90</s></span></span>
                                    <span style="padding-left: 30px;">Por R$ <span style="font-weight: bold; font-size: 55.0px;">39,90</span> / mensal</span>*@
                               


                    <br/><Br/><br/>

                    <a href="/Login/Registrar" class="button button-rounded button-caution button-normal hidden-xs"><span style="font-size: 17.8px;font-weight: bold"> QUERO CONHECER </span><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>

        </div>
    </div>
</section>

